<#include "header.html">
<div id="page-content" class="single-page" style="margin-top: 0">
    <div class="col-sm-10" style="padding: 0 20px 20px 0">
        <div id="grid" ></div>
    </div>

    <script>
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "shoppingCarts/query",
                    dataType : "json"
                },
                update: {
                    url: "shoppingCarts/update",
                    type:"POST",
                    contentType:'application/json',
                    /*dataType:"json",*/
                    data:function (e) {
                        debugger;
                        return e;
                    }
                },
                destroy: {
                    url: "shoppingCarts/delete",
                    type:"POST",
                    contentType:'application/json',
                    data:function (e) {
                        return e;
                    }
                },
                parameterMap : function(options, type) {
                    if (type !== "read" && options) {
                        debugger;
                        /*const optionTwo = kendo.stringify(options);
                         const newOption = optionTwo;*/
                        return kendo.stringify(options);
                    }
                }

            },
            schema: {
                model: {
                    id: "shoppingCartId",
                    fields:{
                        'bookName':{editable: false},
                        'price':{editable: false},
                        'freight':{editable: false},
                        'cover':{editable: false},
                        'counts':{type:'number',min: 1},
                        'total':{editable: false}
                    }
                }
            },
        });
        var finalData = [];
        $("#grid").on('click',function (e) {
            var grid = $("#grid").data("kendoGrid");
            var selectedRows = grid.select();
            var selectedDataItems = [];
            for (var i = 0; i < selectedRows.length; i++) {
                var dataItem = grid.dataItem(selectedRows[i]);
                selectedDataItems.push(dataItem);
            };
            var priceSum = 0;
            var freightSum = 0;
            selectedDataItems.map(function (key) {
                priceSum += key.price*key.counts;
                freightSum += key.freight;
            });
            $('#totalPrice').text(priceSum);
            $('#totalFreight').text(freightSum);
            $('#totalSum').text(selectedDataItems.length);
            $('#total').text(priceSum+freightSum);
            finalData = selectedDataItems;
        } );

        $("#grid").kendoGrid({
            dataSource: dataSource,
            selectable: 'multiple, rowbox',
            toolbar: [
                {
                    name: "save",
                    template: '<span onclick="saveFunction()" class="btn btn-success k-grid-save-changes">#=text#</span>'
                },
                {
                    template: '<span  onclick="deleteData()"  class="btn btn-danger">删除</span>'
                }, {
                    name: "cancel",
                    template: '<span class="btn btn-default k-grid-cancel-changes">取消</span>'
                }
            ],
            pageable : false,
            height:500,
            editable:true,
            columns:[
                {
                    field:"cover",
                    title:"封面",
                    template:function (e) {
                        return '<img style="width: 80px;height: 80px" src="${base.contextPath}/'+e.cover+'">'
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px;border:none"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    }
                },{
                    field:"bookName",
                    title:"书名",
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    menu: false,
                    editable:false,
                },{
                    field:"author",
                    title:"作者",
                    hidden:true,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                },{
                    field:"price",
                    title:"价格",
                    template:function (e) {
                        return e["price"]+"  元" || ""
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    }
                },{
                    field:"freight",
                    title:"邮费",
                    template:function (e) {
                        return e["freight"]+"  元" || ""
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    }
                },{
                    field:"counts",
                    title:"数量",
                    editor:function(container, options) {
                        $(
                                '<input style="width: 100%;" type="number" min="1" name="' + options.field + '"/>')
                                .appendTo(container)
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                },{
                    field:"total",
                    title:"总价",
                    editable:false,
                    template:function (e) {
                        return e["freight"]+e["price"]*e["counts"]+"  元" || ""
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                }],
        });

        function  saveFunction () {
            $('#grid').data('kendoGrid').saveChanges();
        };
        function deleteData() {
            var grid = $("#grid").data("kendoGrid");
            debugger;
            var checked  = grid.selectedDataItems();
            if (grid.selectedDataItems().length) {
                kendo.ui.showConfirmDialog({
                    title: "提示",
                    message: "确认删除？"
                }).done(function (event) {
                    if (event.button == 'OK') {
                        $.each(checked, function (i, v) {
                            grid.dataSource.remove(v)
                        })
                        grid.dataSource.sync();
                    }
                })
            }
        };

    </script>

    <div class="col-sm-2 well" id="contentTable">
        <div>
            <ul>
                <li>价格：<p id='totalPrice'>0</p></li>
                <li>运费：<p id='totalFreight'>0</p> </li>
                <li>数量：<p id='totalSum'>0</p> </li>
                <li>结算： <p id="total">0</p> </li>
                <li><button id="submit" onclick="test()" style="float: right;" class="btn btn-warning">提交</button></li>
            </ul>
        </div>
        <script>

            function test() {
                debugger;
                $.ajax({
                    type: "POST",
                    url: "${base.contextPath}/order/insert",
                    contentType:'application/json',
                    data: JSON.stringify(finalData),
                    dataType: "json",
                    success: function(data){
                        debugger;
                        kendo.ui.showInfoDialog({
                            title: "提示",
                            message: "提交成功",
                            buttons: [{
                                text: "继续逛",
                                type: 'primary',
                                click: function (e) {
                                    e.dialog.destroy();
                                    e.deferred.resolve({
                                        button: "cancel"
                                    });
                                }
                            }, {
                                text: "去支付",
                                type: 'success',
                                click: function (e) {
                                    e.dialog.destroy();
                                    e.deferred.resolve({
                                        button: "OK"
                                    });
                                }
                            }]
                        }).done(function (event) {
                            if (event.button == 'OK') {
                                window.location = "${base.contextPath}/"
                            }else {
                                $.each(finalData, function (i, v) {
                                    $("#grid").data("kendoGrid").dataSource.remove(v)
                                })
                                grid.dataSource.sync();
                            }
                        })

                    },
                    error:function (e) {
                        debugger;
                    }
                });
            }
        </script>
    </div>
    <div class="clearfix"></div>
</div>
    </body>