<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Mobile Shop</title>
    <!--[if IE 8]>
    <script src="${base.contextPath}/lib/polyfill/respond.min.js"></script>
    <script src="${base.contextPath}/lib/polyfill/es5-shim.min.js"></script>
    <![endif]-->
    <script src="${base.contextPath}/static/js/jquery-2.1.1.js"></script>
    <!--
        <script src="${base.contextPath}/lib/kendoui/js/jquery-1.12.3.js"></script>
    -->
    <!--
        <script src="${base.contextPath}/lib/kendoui/js/jquery.min.js"></script>
    -->
    <script src="${base.contextPath}/lib/kendoui/js/kendo.all.js"></script>
    <script src="${base.contextPath}/static/js/bootstrap.min.js"></script>
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/kendoui/styles/kendo.common-bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="${base.contextPath}/lib/kendoui/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--
        <link href="${base.contextPath}/lib/kendoui/styles/kendo.hap.css" rel="stylesheet" type="text/css"/>
    -->
    <script src="${base.contextPath}/lib/kendoui/js/cultures/kendo.culture.${base.locale.toString()?replace('_','-')}.js"></script>
    <script src="${base.contextPath}/lib/kendoui/js/messages/kendo.messages.${base.locale.toString()?replace('_','-')}.js"></script>
    <!--<script src="${base.contextPath}/lib/kendoui/js/kendo.hap.js"></script>-->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="${base.contextPath}/static/css/style.css">

</head>

<body>
