<!--Top-->
<script>
    function loadNavs() {
        $.ajax({
            type: "POST",
            url: "${base.contextPath}/nav",
            contentType:'application/json',
            dataType: "json",
            success: function(data){
                data.firstLevel.map(function (dataItem) {
                    data.secondLevel.map(function (dataItem2) {
                        if (dataItem.categoryId == dataItem2.parentCId){
                            if($("#"+dataItem.categoryId).size() == 0){
                                $("#navBar").append('<li id="'+dataItem.categoryId+'" class="dropdown">' +
                                        '<a href="#" class="dropdown-toggle" >'+dataItem.categoryName+'</a></li>');
                            }
                           if ($("#"+dataItem.categoryId+" a div").size() == 0){
                                $("#"+dataItem.categoryId+" a").append('<div class="dropdown-menu">' +
                                        '<div class="dropdown-inner">' +
                                        '<ul class="list-unstyled">' +
                                        '</ul></div></div>')
                            }
                            $("#"+dataItem.categoryId+" a div div ul").append('<li><a href="${base.contextPath}/bookShow/'
                                    +dataItem2.categoryId+'">'+dataItem2.categoryName+'</a></li>');
                        }
                    });
                    if($("#"+dataItem.categoryId).size()==0){
                        $("#navBar").append('<li id="'+dataItem.categoryId+'">' +
                                '<a href="${base.contextPath}/bookShow/'+dataItem.categoryId+'">'+dataItem.categoryName+'</a></li>');
                    }
                });
            },
            error:function (e) {
                debugger;
            }
        });
    }
    loadNavs();
</script>
<nav id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="${base.contextPath}/account_seller/hasSold"><span class="glyphicon glyphicon-home"></span>  &nbsp;卖家中心</a>
            </div>
            <div class="col-xs-6">

                <ul class="top-link">
                    <#if login_success??>
                        <li><a id="userInfo" href="${base.contextPath}/account/personalCenter"><span class="glyphicon glyphicon-user"></span> &nbsp; ${login_success.userName!"未命名"}</a></li>
                        <li><a id="logout" href="${base.contextPath}/logout">退出</a></li>
                        <#else>
                            <li><a id="loginBtn" data-toggle="modal">登录</a></li>
                            <li><a href="${base.contextPath}/reg">注册</a></li>
                    </#if>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
    $('#loginBtn').click(function (e) {
        $('#loginModal').modal('toggle');
        $('#loginTab a[href="#loginDiv"]').tab('show')
    })
    $('#signinBtn').click(function (e) {
        $('#loginModal').modal('toggle');
        $('#loginTab a[href="#signin"]').tab('show')
    })
</script>
<!-- loginModal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 450px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="${base.contextPath}/logins" class="form-horizontal">
                    <div class="form-group">
                        <label for="userNameLogin" class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-9">
                            <input name="userName" class="form-control" id="userNameLogin" placeholder="手机">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:25px">
                        <label for="passwordLogin" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-9">
                            <input name="password" type="password" class="form-control" id="passwordLogin" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:25px">
                        <div class="col-sm-7" style="text-align: right">
                            <button type="submit" class="btn btn-default">登录</button>
                        </div>
                        <div class="col-sm-5" style="padding-top: 8px">
                            <span>没有账号？点击<a href="${base.contextPath}/reg" style="color: #0c80df">注册</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Header-->
<header class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="logo"><a href="${base.contextPath}/home"><img src="${base.contextPath}/static/images/logo12.png" /></a></div>
        </div>
        <div class="col-md-4">
            <form class="form-search">
                <input type="text" class="form-control col-md-8" placeholder="Text input">
                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <div class="col-md-4">
            <div id="cart"><a class="btn btn-1" href="${base.contextPath}/shoppingCart"><span class="glyphicon glyphicon-shopping-cart"></span>  查看购物车</a></div>
        </div>
    </div>
</header>

<!--Navigation-->
<nav id="menu" class="navbar">
    <div class="container">
        <div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="navBar" class="nav navbar-nav">
                <li><a href="${base.contextPath}/home">首页</a></li>

              <!--  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobiles &amp; Tablet</a>
                    <div class="dropdown-menu" style="margin-left: -203.625px;">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="category.html">Iphone</a></li>
                                <li><a href="category.html">Samsung</a></li>
                                <li><a href="category.html">Nokia</a></li>
                                <li><a href="category.html">Lenovo</a></li>
                                <li><a href="category.html">Google</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="category.html">Nexus</a></li>
                                <li><a href="category.html">Dell</a></li>
                                <li><a href="category.html">Oppo</a></li>
                                <li><a href="category.html">Blackberry</a></li>
                                <li><a href="category.html">HTC</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="category.html">LG</a></li>
                                <li><a href="category.html">Q-Mobiles</a></li>
                                <li><a href="category.html">Sony</a></li>
                                <li><a href="category.html">Wiko</a></li>
                                <li><a href="category.html">T&T</a></li>
                            </ul>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</nav>