<!--Top-->
<nav id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="${base.contextPath}/home"><span class="glyphicon glyphicon-home"></span>  &nbsp;ebook首页</a>
            </div>
            <div class="col-xs-6">

                <ul class="top-link">
                    <#if login_success??>
                        <li><a id="userInfo"><span class="glyphicon glyphicon-user"></span> &nbsp; ${login_success.userName!"未命名"}</a></li>
                        <li><a id="logout" href="${base.contextPath}/logout">退出</a></li>
                        <#else>
                            <li><a id="loginBtn" data-toggle="modal">登录</a></li>
                            <li><a id="signinBtn" data-toggle="modal">注册</a></li>
                    </#if>

                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
    $('#loginBtn').click(function (e) {
        $('#loginModal').modal('toggle');
        $('#loginTab a[href="#loginDiv"]').tab('show')
    })
    $('#signinBtn').click(function (e) {
        $('#loginModal').modal('toggle');
        $('#loginTab a[href="#signin"]').tab('show')
    })
</script>
<!-- loginModal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body tab-content">
                <ul id="loginTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#loginDiv" data-toggle="tab">登录
                        </a>
                    </li>
                    <li><a href="#signin" data-toggle="tab">注册</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade in active" id="loginDiv">
                        <form method="post" action="login" class="form-horizontal">
                            <div class="form-group">
                                <label for="userNameLogin" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input name="userName" class="form-control" id="userNameLogin" placeholder="手机或邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passwordLogin" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input name="password" type="password" class="form-control" id="passwordLogin" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8" style="text-align: center">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signin">
                        <form id="signForm" method="post" action="/ssm/register" class="form-horizontal">
                            <div class="form-group">
                                <div class="dropdown col-sm-4">
                                    <select id="signinMode" class="form-control">
                                        <option value="phone">手机号</option>
                                        <option value="email">邮箱</option>
                                    </select>
                                </div>
                                <div id="signUnique" class="col-sm-8">
                                    <input class="form-control" id="phone" name="phone" placeholder="手机号">
                                    <input style="display: none" class="form-control" id="email" name="email" placeholder="邮箱">
                                </div>
                            </div>
                            <script>
                                $("#signinMode").change(function(){
                                    debugger;
                                    var signMode = $("#signinMode option:selected").val();
                                    if(signMode == "phone"){
                                        $("#email").css('display','none');
                                        $("#phone").css('display','block');
                                    }else{
                                        $("#phone").css('display','none');
                                        $("#email").css('display','block');
                                    }
                                });


                            </script>
                            <div class="form-group">
                                <label for="userName" class="col-sm-4 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="userName" id="userName" placeholder="用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-4 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center">
                                    <button type="submit" class="btn btn-default">注册</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

                <div style="clear:both;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Header-->
<header class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="logo"><img src="${base.contextPath}/static/images/logo12.png" /></div>
        </div>
        <div class="col-md-4">
            <form class="form-search">
                <input type="text" class="form-control col-md-8" placeholder="Text input">
                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>

    </div>
</header>

<!--Navigation-->
<nav id="menu" class="navbar">
    <div class="container">
        <div class="navbar-header"><span id="heading" class="visible-xs">Categories</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="${base.contextPath}/account_seller/publish_book_info">发布书籍信息</a></li>
                <li><a href="${base.contextPath}/account_seller/hasSold">已卖出的书籍</a></li>
                <li><a href="${base.contextPath}/account_seller/fillBook">发货</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">发布书籍信息</a>
                    <!--<div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="category.html">Window</a></li>
                                <li><a href="category.html">MacBook</a></li>
                            </ul>
                        </div>
                    </div>-->
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">联系我们</a>
                    <!--<div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="category.html">Dell</a></li>
                                <li><a href="category.html">Asus</a></li>
                                <li><a href="category.html">Samsung</a></li>
                                <li><a href="category.html">Lenovo</a></li>
                                <li><a href="category.html">Acer</a></li>
                            </ul>
                        </div>
                    </div>-->
                </li>
                <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobiles &amp; Tablet</a>
                    <div class="dropdown-menu" style="margin-left: -203.625px;">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="category.html">Iphone</a></li>
                                <li><a href="category.html">Samsung</a></li>
                                <li><a href="category.html">Nokia</a></li>
                                <li><a href="category.html">Lenovo</a></li>
                                <li><a href="category.html">Google</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="category.html">Nexus</a></li>
                                <li><a href="category.html">Dell</a></li>
                                <li><a href="category.html">Oppo</a></li>
                                <li><a href="category.html">Blackberry</a></li>
                                <li><a href="category.html">HTC</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="category.html">LG</a></li>
                                <li><a href="category.html">Q-Mobiles</a></li>
                                <li><a href="category.html">Sony</a></li>
                                <li><a href="category.html">Wiko</a></li>
                                <li><a href="category.html">T&T</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="category.html">Software</a></li>-->
            </ul>
        </div>
    </div>
</nav>