<#include "header.html">
    <#include "nav_user.html">
<div id="page-content" class="single-page" style="margin-top: 0">
    <div class="col-sm-8 col-md-offset-1" style="padding: 0 20px 20px 0">
        <div id="grid" ></div>
    </div>

    <script>
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "${base.contextPath}/account/order/unPayment/query",
                    dataType : "json"
                },
                update: {
                    url: "shoppingCarts/update",
                    type:"POST",
                    contentType:'application/json',
                    /*dataType:"json",*/
                    data:function (e) {
                        debugger;
                        return e;
                    }
                },
                destroy: {
                    url: "${base.contextPath}/account/order/unPayment/destroy",
                    type:"POST",
                    contentType:'application/json',
                    data:function (e) {
                        return e;
                    }
                },
                parameterMap : function(options, type) {
                    if (type !== "read" && options) {
                        /*const optionTwo = kendo.stringify(options);
                         const newOption = optionTwo;*/
                        debugger;
                        return kendo.stringify(options);
                    }
                }

            },
            schema: {
                model: {
                    id: "orderId",
                    fields:{
                        'bookPrice':{editable: false},
                        'freight':{editable: false},
                        'totalPrice':{editable: false},
                        'orderDetails':{editable: false}
                    }
                }
            },
        });
        var finalData = [];
        $("#grid").on('click',function (e) {
            var grid = $("#grid").data("kendoGrid");
            var selectedRows = grid.select();
            var selectedDataItems = [];
            for (var i = 0; i < selectedRows.length; i++) {
                var dataItem = grid.dataItem(selectedRows[i]);
                selectedDataItems.push(dataItem);
            };
            var priceSum = 0;
            var freightSum = 0;
            selectedDataItems.map(function (key) {
                debugger;
                priceSum += key.totalPrice;
                freightSum += key.freight;
            });
            $('#totalPrice').text(priceSum);
            $('#totalFreight').text(freightSum);
            $('#total').text(priceSum+freightSum);
            finalData = selectedDataItems;
        } );

        $("#grid").kendoGrid({
            dataSource: dataSource,
            selectable: 'multiple, rowbox',
            pageable : false,
            height:500,
            editable:true,
            columns:[{
               field:"orderDetails",
                title:"书籍列表",
                width:200,
                template:function (e) {
                  var a= '<ul class="list-group">';
                    for(var i=0;i<e["orderDetails"].length;i++){
                        a +='<li class="list-group-item"><span class="badge">'+e["orderDetails"][i].counts+' 本</span>'+e["orderDetails"][i].bookName+'</li>'
                    }
                    a= a+"</ul>";
                    return a;
                },
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center; font-size: 14px;border:none"
                },
                attributes: {
                    "class": "table-cell",
                    style: "text-align: center; font-size: 14px"
                }
            }, {
                    field:"bookPrice",
                    title:"书籍总价",
                    template:function (e) {
                        return e["bookPrice"]+"  元" || ""
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px;border:none"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    }
                },{
                    field:"freight",
                    title:"运费",
                    template:function (e) {
                        return e["freight"]+"  元" || ""
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    menu: false,
                    editable:false,
                },{
                    field:"totalPrice",
                    title:"总价",
                    template:function (e) {
                        return e["totalPrice"]+"  元" || ""
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: center; font-size: 14px"
                    },
                },{command:[{
                name: "详情",
                click: function(e) {
                    // command button click handler
                }
            },{
                name: "支付",
                click: function(e) {
                    const that = this;
                    var tr = $(e.target).closest("tr");
                    var data = that.dataItem(tr);
                    finalData.push(data);
                    submit(finalData);
                }
            },{
                name: "删除",
                click: function(e) {
                    const that = this;
                    var tr = $(e.target).closest("tr");
                    var data = that.dataItem(tr);
                    kendo.ui.showConfirmDialog({
                        title: "提示",
                        message: "确认删除？"
                    }).done(function (event) {
                        if (event.button == 'OK') {
                            that.dataSource.remove(data);
                            that.dataSource.sync();
                        }
                    })
                }
            }],
                    width:230
                }],
        });

        function  saveFunction () {
            $('#grid').data('kendoGrid').saveChanges();
        };
        function deleteData() {
            var grid = $("#grid").data("kendoGrid");
            var checked  = grid.selectedDataItems();
            if (grid.selectedDataItems().length) {
                kendo.ui.showConfirmDialog({
                    title: "提示",
                    message: "确认删除？"
                }).done(function (event) {
                    if (event.button == 'OK') {
                        $.each(checked, function (i, v) {
                            grid.dataSource.push(v)
                        })
                        grid.dataSource.sync();
                    }
                })
            }
        };

    </script>

    <div class="col-sm-2 well" id="contentTable">
        <div>
            <ul>
                <li>价格：<p id='totalPrice'>0</p></li>
                <li>运费：<p id='totalFreight'>0</p> </li>
                <li>结算： <p id="total">0</p> </li>
                <li><button id="submit" onclick="submit()" style="float: right;" class="btn btn-warning">支付</button></li>
            </ul>
        </div>
        <script>

            function submit(data) {
                var datas = [];
                if (data){
                    datas = data
                }else {
                    datas = finalData;
                }
                kendo.ui.showConfirmDialog({
                    title: "提示",
                    message: "确认支付？"
                }).done(function (event) {
                    debugger;
                    if (event.button == 'OK') {
                        $.ajax({
                            type: "POST",
                            url: "${base.contextPath}/order/payment/insert",
                            contentType:'application/json',
                            data: JSON.stringify(datas),
                            dataType: "json",
                            success: function(data){
                                kendo.ui.showInfoDialog({
                                    title: "提示",
                                    message: "支付成功",
                                    buttons: [{
                                        text: "知道了",
                                        type: 'primary',
                                        click: function (e) {
                                            e.dialog.destroy();
                                            e.deferred.resolve({
                                                button: "cancel"
                                            });
                                        }
                                    }, {
                                        text: "回首页",
                                        type: 'success',
                                        click: function (e) {
                                            e.dialog.destroy();
                                            e.deferred.resolve({
                                                button: "OK"
                                            });
                                        }
                                    }]
                                }).done(function (event) {
                                    if (event.button == 'OK') {
                                        window.location = "${base.contextPath}/"
                                    }else {
                                        debugger;
                                        $.each(datas, function (i, v) {
                                            $("#grid").data("kendoGrid").dataSource.remove(v)
                                        })
                                        $("#grid").data("kendoGrid").dataSource.sync();
                                        finalData = [];
                                    }
                                })

                            },
                            error:function (e) {
                                debugger;
                            }
                        });
                    }
                })

            }
        </script>
    </div>
    <div class="clearfix"></div>
</div>
    </body>