<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员后台</title>

    <!--Icons-->
    <script src="${base.contextPath}/static/admin/js/lumino.glyphs.js"></script>
    <script src="${base.contextPath}/static/js/jquery-2.1.1.js"></script>
    <script src="${base.contextPath}/lib/kendoui/js/kendo.all.js"></script>
    <script src="${base.contextPath}/static/js/bootstrap.min.js"></script>
    <link href="${base.contextPath}/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/kendoui/styles/kendo.common-bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="${base.contextPath}/lib/kendoui/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--
        <link href="${base.contextPath}/lib/kendoui/styles/kendo.hap.css" rel="stylesheet" type="text/css"/>
    -->
    <script src="${base.contextPath}/lib/kendoui/js/cultures/kendo.culture.${base.locale.toString()?replace('_','-')}.js"></script>
    <script src="${base.contextPath}/lib/kendoui/js/messages/kendo.messages.${base.locale.toString()?replace('_','-')}.js"></script>
    <link href="${base.contextPath}/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="${base.contextPath}/static/admin/css/datepicker3.css" rel="stylesheet">
    <link href="${base.contextPath}/static/admin/css/styles.css" rel="stylesheet">


    <![endif]-->
    <style>
        .panel-info>.panel-heading{
            height: 42px;
            padding: 5px;
            background-color: #e9ecf2;
        }
    </style>
</head>

<body>