<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynu.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.ynu.dto.Book" >
        <id column="BOOK_ID" property="bookId" jdbcType="DECIMAL" />
        <result column="BOOK_NAME" property="bookName" jdbcType="VARCHAR" />
        <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
        <result column="BOOK_INFO" property="bookInfo" jdbcType="VARCHAR" />
        <result column="PRICE" property="price" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
        <result column="COVER" property="cover" jdbcType="VARCHAR" />
        <result column="USE_HOURS_STATUS" property="useHoursStatus" jdbcType="VARCHAR" />
        <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
        <result column="PUBLISHING_COMPANY" property="publishingCompany" jdbcType="VARCHAR" />
        <result column="USE_HOURS_ID" property="useHoursId" jdbcType="DECIMAL" />
        <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL" />
        <result column="SOLD_NUM" property="soldNum" jdbcType="DECIMAL" />
        <result column="REMAIN_NUM" property="remainNum" jdbcType="DECIMAL" />
        <result column="FREIGHT" property="freight" javaType="DECIMAL" />
    </resultMap>


    <sql id="Base_Column_List">
        BOOK_ID,FREIGHT,BOOK_NAME,AUTHOR,BOOK_INFO,PRICE,USER_ID,CATEGORY_ID,COVER,PUBLISHING_COMPANY,USE_HOURS_ID,TOTAL_NUM,SOLD_NUM,REMAIN_NUM
    </sql>


    <select id="selectLasted" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        from sys_book ORDER BY BOOK_ID DESC LIMIT 1
    </select>

    <insert id="insertBook">
      INSERT INTO
		sys_book(FREIGHT,BOOK_NAME,AUTHOR,BOOK_INFO,PRICE,USER_ID,CATEGORY_ID,COVER,PUBLISHING_COMPANY,USE_HOURS_ID,TOTAL_NUM,REMAIN_NUM)
		values(#{freight},#{bookName},#{author},#{bookInfo},#{price},#{userId},#{categoryId},#{cover},#{publishingCompany},#{useHoursId},#{totalNum},#{remainNum})
    </insert>

    <update id="updateBook">
        update sys_book set BOOK_NAME=#{bookName},AUTHOR=#{author},BOOK_INFO=#{bookInfo},PRICE=#{price},CATEGORY_ID=#{categoryId},COVER=#{cover},PUBLISHING_COMPANY=#{publishingCompany},USE_HOURS_ID=#{useHoursId},TOTAL_NUM=#{totalNum},REMAIN_NUM=#{remainNum},FREIGHT=#{freight} where BOOK_ID = #{bookId};
    </update>
    <delete id="destroyBook">
        DELETE FROM sys_book WHERE BOOK_ID = #{bookId}
    </delete>

    <select id="selectByuserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT b.BOOK_ID,TOTAL_NUM,FREIGHT,SOLD_NUM,REMAIN_NUM,BOOK_NAME,AUTHOR,BOOK_INFO,PRICE,USER_ID,b.CATEGORY_ID,COVER,PUBLISHING_COMPANY,
        b.USE_HOURS_ID,c.CATEGORY_NAME,u.USE_HOURS_STATUS
        from sys_book b
        LEFT OUTER JOIN sys_category c ON (c.CATEGORY_ID = b.CATEGORY_ID)
        LEFT OUTER JOIN sys_use_hours u ON (u.USE_HOURS_ID = b.USE_HOURS_ID)
        WHERE USER_ID = #{userId}
        ORDER BY b.BOOK_ID DESC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_book
    </select>

    <select id="selectByBookId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT b.BOOK_ID,FREIGHT,TOTAL_NUM,SOLD_NUM,REMAIN_NUM,BOOK_NAME,AUTHOR,BOOK_INFO,PRICE,USER_ID,b.CATEGORY_ID,COVER,PUBLISHING_COMPANY,
        b.USE_HOURS_ID,c.CATEGORY_NAME,u.USE_HOURS_STATUS
        from sys_book b
        LEFT OUTER JOIN sys_category c ON (c.CATEGORY_ID = b.CATEGORY_ID)
        LEFT OUTER JOIN sys_use_hours u ON (u.USE_HOURS_ID = b.USE_HOURS_ID)
        WHERE BOOK_ID = #{bookId}
    </select>
</mapper>